<!--suppress ALL -->
<div style="text-align: center; padding-top: 2%"><h2>User dashboard</h2>
</div>


<div style="margin-left: 2%">
  <p *ngIf="debts.length>1">Currently you are tracking <strong>{{debts.length}}</strong> debts</p>
  <p *ngIf="debts.length==1">Currently you are tracking <strong>{{debts.length}}</strong> debt</p>
</div>

<br>

<div>
  <table [dataSource]="debts" class="mat-elevation-z3" mat-table style="text-align: center;">
    <!-- Item Column -->
    <ng-container matColumnDef="company">
      <th *matHeaderCellDef mat-header-cell style="text-align: center" width="33%"> Company</th>
      <td *matCellDef="let debt" mat-cell> {{debt.company}} </td>
      <td *matFooterCellDef mat-footer-cell> Total</td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell style="text-align: center" width="33%"> Amount</th>
      <td *matCellDef="let debt" mat-cell> {{debt.amount}} </td>
      <td *matFooterCellDef mat-footer-cell> {{getTotalCost()}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell style="text-align: center" width="33%"> Action</th>
      <td *matCellDef="let element" class="action-link" mat-cell>
        Edit | Delete
      </td>
      <td *matFooterCellDef mat-footer-cell></td>
    </ng-container>

    <!-- Add column -->
    <ng-container matColumnDef="disclaimer">
      <td *matFooterCellDef colspan="3" mat-footer-cell style="text-align: right; padding-right: 5%">
        <button color="primary" mat-raised-button>Test</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
    <tr *matFooterRowDef="['disclaimer']" mat-footer-row></tr>

  </table>

</div>
