<nav>
  <div class="logo">
    Money Manager</div>
  <ul>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">Home</a>-->
    <li>

    <li *ngIf="!loginService.isUserLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['/register']">Register</a>-->
    </li>

    <li *ngIf="!loginService.isUserLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/login']">Login</a>
    </li>


    <li *ngIf="loginService.isUserLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/dashboard']">User Dashboard</a>
      <ul>
        <li><a href="#">Income</a></li>
        <li><a href="">Debts</a></li>
        <li><a href="#">Savings</a></li>
      </ul>

    <li *ngIf="loginService.isUserLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/logout']">Logout</a>
    </li>
  </ul>
</nav>

