<button [mat-dialog-close]="true" class="close-button" mat-icon-button>
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h2>Add a debt</h2>

<div>
  <form [formGroup]="debtForm" autocomplete="off" style="align-content: center">


    <div class="form-group">
      <mat-form-field class="full-width-field" color="accent">
        <mat-label>Company Name:</mat-label>
        <input aria-label="company name" cdkFocusInitial formControlName="company" matInput required type="text">
        <mat-error *ngIf="debtForm.get('company').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>
    <br>
    <div class="form-group">
      <mat-form-field class="full-width-field" color="accent">
        <mat-label>Currently owned amount:</mat-label>
        <input aria-label="Debt owed amount" formControlName="amount" matInput required type="number">
        <mat-error *ngIf="debtForm.get('amount').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>

    <br>
    <div class="form-group">
      <mat-form-field class="full-width-field">
        <mat-label>Owed by date:</mat-label>
        <input [matDatepicker]="picker" aria-label="Owed by date" formControlName="dueDate" matInput>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="debtForm.get('dueDate').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>

    <br>

  </form>

  <div style="padding-top: 2%">
    <button (click)="resetDebtForm()" color="warn" mat-raised-button type="reset">Reset
    </button>
    <button (click)="saveDebt()" style="margin-left: 40%" [disabled]="!debtForm.valid" color="primary" mat-raised-button
            type="submit">Submit
    </button>

  </div>


</div>
